@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','san-serif';
}

body{
    background: #e4e9f7;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box header{
    font-size: 25px;
    font-weight: 600px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn{
    height: 35px;
    /* background: rgba(76,68,182,0.808); */
    background: #333;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;

}

.btn:hover{
    opacity: 0.82;
    color: #fff;
}

.submit{
    width: 100%;
}

.link{
    margin-bottom: 15px;
}

/* alert */

.alert{
    text-align: center;
    width: 75%;
    margin-top: 20px;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.5s ease;
}


/************** HOME Page ************/
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top .box{
        margin: 10px 10px;
    }

    .bottom{
        margin-top: 0;
    }
}