
/* .fileds{
    
} */
.tabs{
    
    color: #fff;
    margin-top: -5px;
}
.home-content{
    background-color: #fff;
    
    width: 100%;
}

.form2{
    margin-top: 30px;
    margin-bottom: 10px;
}
.submit-button,.cancel-btn{
    height: 35px;
    /* background: rgba(76,68,182,0.808); */
    background: #415A77;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    padding: 0px 10px;
    margin-top: -5px;

}

.submit-button{
    width: 100px;
    margin-top: 3px;
    margin-left: 10px;
    
}
.submit-button:hover{
    opacity: 0.82;
}

.cancel-btn{
    width: 100px;
    float: right;
    margin-top: 3px;
}
.cancel-btn:hover{
    opacity: 0.82;
}

