@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container h1{
    font-family: "Roboto",sans-serif;
    font-weight: normal;
}

:root{
    --tw-border-opacity:1;
}

.overview{
    border-left: 5px solid black;
    padding: 0.5px;
    font-size: 19px;
}


blockquote {
    color: #777;
    background-color: #eaffc1;
    background-color: #cef4ff;
    padding: 15px;
    border-left: 7px solid #a6d34c;
    border-left: 7px solid #61dafb;

}


